/*Este estilo de back color se refleja en el index*/
body{
    background-color: #90d412;
}
/* Este estilo agrega un borde negro a cada card del index con su clase 'card'*/
.card{
    border: black;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    border-style: groove;
    padding: 5px;
}
/* Este estilo agrega estilo y color al letrero de 'Standings' en salir.html */
#p{
    font-style: italic;
    font: bolder;
    color: #90d412;
}