body{
    background-color: #90d412;
}

h1{
    font-style: oblique;
}
.card{
    border: black;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    border-style: groove;
    padding: 5px;
}
#p{
    font-style: italic;
    font: bolder;
    color: #90d412;
}